{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
<br>
<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Distance to {{ destination }} is:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                {{ distance }} km
                </div>
            </div>
        </div>
    </div>
    {{ map|safe }}
    <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>

<br>
</div>

{% if request.POST and distance is not None %}
    <script>
        $(window).on('load', function(){
            $('#exampleModal').modal('show')
        })
    </script>
{% endif %}

{% endblock body %}