{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<br>
<h3 style="text-align:center">Welcome {{request.user}} (MH 01 AS 1234), Happy to see you!</h3>

<div class="border border-light p-3 mb-4">
    <div class="text-center">
        <button type="button" class="btn btn-light"><a href="/logout">Logout</a></button>
    </div>
</div>

<div class="card container p-3 my-3 bg-dark text-white">
  <div class="d-grid gap-2 col-6 mx-auto card-body text-center">
    <button type="button" class="btn btn-outline-dark btn-lg"><a href="/dashboard">Click Here to Access Vehicle Location</a></button>
  </div>
</div>


<div class="container my-4" style="width: 600px; height: 224px;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active container">
                <img src="/static/img/car1.jpg" class="d-block w-100 my-4" style="width: 600px; height: 224px;">
            </div>
            <div class="carousel-item container">
                <img src="/static/img/car2.jpg" class="d-block w-100 my-4" style="width: 600px; height: 224px;">
            </div>
            <div class="carousel-item container">
                <img src="/static/img/car3.jpg" class="d-block w-100 my-4" style="width: 600px; height: 224px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<br>

<div class="container-fluid p-3 my-3 bg-dark text-white">
    <iframe width="490" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1393748/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&timescale=10&title=Vehicle+Speed&type=line&yaxis=KMPH"></iframe>
    <iframe width="490" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1393748/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&timescale=10&title=Battery+Temperature&type=line&yaxis=Degree+Celsius"></iframe>
    <iframe width="490" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1393748/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&timescale=10&title=Battery+Percentage&type=line&yaxis=Percentage"></iframe>
</div>

{% endblock body %}

